.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

/**
* Buy Button
**/
.buyButton {
  outline: none;
}
.buyButton:active,
.buyButton:hover {
  outline: none;
}

/**
* Bloco preço + tag desconto
**/
.container :global(.vtex-flex-layout-0-x-flexRowContent) {
  display: block;
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  text-transform: lowercase;
  font-weight: 300;
  font-size: 1rem;
  color: #2E2E2E;
}

.brandName::first-letter {
  text-transform: capitalize !important;
  font-size: 2rem !important;
}

.container {
  text-align: start;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 1rem;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
